.advert-block {
  position: relative;
  z-index: 10;

  padding: 0 calc(50% - 660px);
  padding-bottom: 88px;

  background: url("../img/illustration.svg") calc(50% + 315px) bottom / 688px 732px no-repeat,
  linear-gradient(to top, @linear-bottom-color, @white-color);
}

.advert-block__wrap {
  position: relative;

  padding: 101px calc(50% - 471px);
}

.advert-block__title {
  width: 506px;
  margin-top: 0;
  margin-bottom: 35px;

  font-size: 54px;
  line-height: 72px;
  font-family: @font-ibarra;
  color: @blue-color;
  letter-spacing: 0.04em;
}

.advert-block__text {
  width: 425px;
  margin-bottom: 77px;

  font-size: 16px;
  line-height: 26px;
  color: @blue-color;

  opacity: 0.6;
}

.advert-block__button {
  width: 220px;
  height: 56px;

  font-family: @font-regular;
  color: @white-color;
  letter-spacing: 0.04em;

  background-color: @blue-background;
  border-radius: 10px;
  box-shadow: 5px 10px 20px @shadow-color;
}

@media screen and (min-width: 1023px) and (max-width: 1300px) {
  .advert-block {
    background: url("../img/illustration.svg") calc(50% + 253px) bottom / 520px 732px no-repeat,
    linear-gradient(to top, @linear-bottom-color, @white-color);
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .advert-block {
    padding: 0 calc(50% - 384px);
    padding-bottom: 218px;

    background: url("../img/illustration.svg") calc(50% + 188px) bottom / 347px 362px no-repeat,
    linear-gradient(to top, @linear-bottom-color, @white-color);
  }

  .advert-block__wrap {
    padding: 0 calc(50% - 255px);
  }

  .advert-block__text {
    margin-bottom: 54px;
  }
}

@media screen and (max-width: 767px) {
  .advert-block {
    padding: 0 calc(50% - 180px);
    padding-bottom: 40px;

    background: linear-gradient(to top, @linear-bottom-color, @white-color);
  }

  .advert-block__wrap {
    display: flex;
    flex-direction: column;
    padding: 0 calc(50% - 160px);
  }

  .advert-block__title {
    width: 320px;
    margin-bottom: 23px;

    font-size: 40px;
    line-height: 50px;
  }

  .advert-block__text {
    width: 320px;
  }

  .advert-block__button {
    align-self: center;
  }

  .advert-block__text {
    margin-bottom: 54px;
  }
}
