.clients {
  display: flex;
  flex-wrap: wrap;
  padding: 0 calc(50% - 470px);
  padding-top: 65px;

  background-color: #5a98d0;
  border-radius: 200px 0 0 0;
}
.clients__title {
  width: 223px;
  margin-right: 97px;

  color: @white-color;
}

.clients__text {
  width: 540px;
  margin-top: 30px;

  font-size: 16px;
  line-height: 26px;
  color: @white-color;

  opacity: 0.6;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;

  font-family: @font-regular;
  text-align: center;
}
.clients-list__item {
  width: 235px;
  height: 128px;

  background-color: #5a98d0;
}
.clients-list__link {
  font-size: 20px;
  line-height: 46px;
  color: @white-color;
  text-transform: uppercase;
}

.clients__button {
  width: 235px;
  height: 128px;

  font-size: 20px;
  line-height: 46px;
  color: @white-color;

  background-color: #1f3f68;
  opacity: 0.2;
}
