.page-footer {
  display: flex;
  padding: 0 calc(50% - 470px);

  font-size: 16px;
  line-height: 26px;
  color: @white-color;

  background-color: #316099;
  border-radius: 0 200px 0 0;
}

.vacancy__title {
  width: 460px;
}

.vacancy__text {
  width: 460px;

  font-size: 16px;
  line-height: 26px;
  color: @white-color;

  opacity: 0.6;
}
.vacancy__button {
  width: 220px;
  height: 56px;

  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: @white-color;
  letter-spacing: 0.04em;

  background-color: #5a98d0;
  border-radius: 10px;
}


.contacts-list {
  display: flex;
  flex-direction: column;
}
.contacts-list__item {
  width: 299px;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 26px;
  color: @white-color;
  a {
    font-size: 16px;
    line-height: 26px;
    color: @white-color;
  }
}

.list-title {
  font-size: 20px;
  line-height: 30px;
  color: @white-color;
}
.company-info,
.social-list {
  display: flex;
  flex-direction: column;
}
.company-info__item,
.social-list__item {
  margin-bottom: 16px;
}
.company-info__link,
.social-list__link {
  font-size: 16px;
  line-height: 26px;
  color: @white-color;
}
