body {
  display: block;
  letter-spacing: 0.05em;
  font-family: @font-regular;
  min-width: 360px;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
  padding: 0;

  font-family: inherit;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;
}


.main-title {
  font-size: 36px;
  line-height: 46px;
  font-family: @font-semibold;
  color: @white-color;
}

.hidden {
  display: none;
}
