.page-header {
  display: flex;
  align-items: center;
  padding: 0 calc(50% - 600px);
  padding-top: 40px;
}

.page-nav {
  position: relative;

  margin-left: auto;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .page-header {
    padding: 0 calc(50% - 364px);
    padding-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    margin-bottom: 40px;
    padding: 0 calc(50% - 160px);
    padding-top: 40px;
  }
}
