.page-header {
  display: flex;
  align-items: center;
  padding: 40px calc(50% - 600px) 0px;
}

.page-nav {
  position: relative;

  margin-left: auto;
}

.page-nav__img:hover path {
  fill:  @hover-link-color;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .page-header {
    padding: 40px calc(50% - 364px) 0px;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    margin-bottom: 40px;
    padding: 40px calc(50% - 160px) 0px;
  }
}
