.services {
  position: relative;

  margin-bottom: 113px;
  padding: 0 calc(50% - 470px);
}
.services__title {
  position: relative;
  top: 159px;
  left: 2px;

  width: 358px;

  color: @dark-blue;
}

.services-list {
  display: flex;
  justify-content: space-between;
  width: 860px;
  margin-left: 80px;

  & > article {
    align-self: center;
    margin-top: -134px;
    margin-bottom: 0;
  }
}

.services-list__item-wrap {
  margin-top: -4px;
}

.services-list__img {
  width: 192px;
  height: 132px;
}

.services-list__img--internet {
  margin: 48px 0px 36px -62px;
}

.services-list__img--home {
  position: relative;
  bottom: 22px;
  left: 5px;

  width: 257px;
  height: 207px;
  margin-bottom: 7px;
}

.services-list__img--digital {
  width: 168px;
  margin: 47px 0px 36px -38px;
}

.services-list__item {
  .flex();
  flex-direction: column;
  align-items: center;
  width: 380px;
  margin-bottom: 99px;
  padding-bottom: 45px;

  background: @white-color;
  border-radius: 10px;
  box-shadow: 5px 20px 50px @service-shadow-color;
}

.services-list__title {
  width: 284px;
  margin-bottom: 0;

  font-size: 20px;
  line-height: 30px;
  font-family: @font-semibold;
  color: @blue-color;
}

.services-list__description {
  width: 284px;
  margin-bottom: 37px;

  font-size: 16px;
  line-height: 26px;
  color: @blue-color;

  opacity: 0.6;
}

.services-list__link {
  position: relative;
  bottom: 4px;
  left: 49px;

  align-self: flex-start;

  font-size: 14px;
  line-height: 30px;
  font-family: @font-semibold;
  color: @blue-background;
  text-decoration: none;

  &:hover {
    color: @hover-link-color;
  }

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 109px;

    display: block;
    width: 10px;
    height: 10px;

    border: 2px solid @blue-background;
    border-top: none;
    border-left: none;
    transform: rotate(-45deg);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 14px;
    left: 104px;

    display: block;
    width: 15px;
    height: 10px;

    border-bottom: 2px solid @blue-background;
  }
    &:hover::before,
    &:hover::after {
    border-color: @hover-link-color;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .services {
    margin-bottom: 70px;
    padding: 0 calc(50% - 384px);
  }
  .services__title {
    top: 78px;
    left: 48px;
  }

  .services-list {
    width: 768px;
    margin-left: 0;
    padding: 0 calc(50% - 358px);
  }

  .services-list__item {
    width: 338px;
    margin-bottom: 29px;
  }

  .services-list__img--internet {
    margin-top: 48px 0px 36px -62px;
  }
}

@media screen and (max-width: 767px) {
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    padding: 0 calc(50% - 180px);
  }

  .services__title {
    top: 10px;
    left: 0;

    width: 320px;
    margin-bottom: 70px;

    text-align: center;
  }

  .services-list {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 340px;
    margin-left: 0;
    padding: 105px calc(50% - 180px) 0px;

    & > article {
      margin-bottom: 40px;
    }
  }

  .services-list__item {
    width: 320px;
    margin-bottom: 40px;
  }
}
