@font-thin: Gilroy Thin,Arial,sans-serif;
@font-regular: Gilroy Regular,Arial,sans-serif;
@font-semibold: Gilroy Semibold,Arial,sans-serif;
@font-medium: Gilroy Medium,Arial,sans-serif;
@blue-color: #1F3F68;
@blue-background: #5a98d0;
@light-blue-background: rgba(31, 63, 104, 0.2);
@footer-background: #316099;
@white-color:#ffffff;
